3. Intermediate+/Day 32 - Send Emails (smtplib) and Manage Dates (datetime)/Birthday Wisher

# Day 37
3. Intermediate+/Day 37 - Habit Tracking Project (API Post Requests and Headers)/pixela_user_info.py